.btn-primary {
    height: 100%;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: 1px solid #7fad39;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}
