.drop-dawn-menu {
    margin-top: 6px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-15px);
    transition: 0.15s ease-in-out;
    user-select: none;
    visibility: hidden;
    width: 100%;

    &_list {
        box-shadow: 0 0 12px 0 #ebebeb;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        width: 100%;

        li {
            background-color: #f2f5f8;
            cursor: pointer;
            padding: 3px 9px;
            text-transform: capitalize;
            transition: 0.15s ease-in-out;

            &:hover {
                background-color: #7fad39;
                color: #fff;
                padding-left: 16px;
            }
        }
    }
}

.drop-dawn-menu-open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0px);
    visibility: visible;
}
