.contact-page {
    &__map {
        height: 407px;
        margin-bottom: 60px;

        iframe {
            height: 100%;
        }
    }

    &__message {
        padding-bottom: 80px;
        h2 {
            color: #1c1c1c;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 24px;
            text-transform: capitalize;
            text-align: center;
        }

        form {
            align-items: center;
            display: flex;
            flex-direction: column;

            width: 100%;

            > div {
                align-items: center;
                gap: 30px;
                display: flex;
                margin-bottom: 30px;
                width: 100%;

                input {
                    color: #6f6f6f;
                    font-size: 16px;
                    height: 50px;
                    padding-left: 20px;
                    outline: none;
                    width: 100%;
                }
            }

            textarea {
                color: #6f6f6f;
                font-size: 16px;
                height: 226px;
                max-width: 100%;
                outline: none;
                padding: 14px;
                margin-bottom: 24px;
                width: 100%;
            }

            button {
                color: #ffffff;
                font-weight: 800;
                font-size: 18px;
                text-transform: uppercase;
                display: inline-block;
                padding: 13px 30px 12px;
                background: #7fad39;
                border: none;
            }
        }
    }
}
